[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "libs/glfw3"]
	path = libs/glfw3
	url = https://github.com/glfw/glfw.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/sparse-map"]
	path = libs/sparse-map
	url = https://github.com/Tessil/sparse-map.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
